body {
   background-color: #F5F5F5;
   font-size: 15px;
   line-height: 20px;
}

.container {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    margin: 20px 50px 0px 50px;
}

.navbar {
    background-color: #99ccff
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px slategray;
}

.nav-item {
    font-size: 20px;
    padding: 20px;
}

.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 40px;
    font-weight: bold;
    color: #99ccff;
    padding: 20px;
    margin: 5px 0px 20px 0px;
    border-bottom: 2px solid lightgray;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 20px 10px 5px;
    color:  #595959
}

.headshot {
    margin: 5px 15px 15px 15px;
    float: left;
    align: left;
}

.wrap {
    float: right;
}

/* Additional Screen Sizes */

/* Width at 980px and below */
@media screen and (max-width: 980px) {
    .container {
        width: 80%;
    }

    .wrap {
        float: right;
    }

  }
  
/* Width at 768px and below */
  @media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .wrap {
        float: right;
    }
    
  }
  
/* Width at 168px and below */
@media screen and (max-width: 640px) {
    .container {
        width: 80%;
    }

    .wrap {
        float: right;
    }
}